.navbar a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Default color for links */
}

.navbar a:hover {
    text-decoration: underline !important;
    color: #FDC000 !important; /* Change color on hover, for example */
}

body {
    margin-top: 70px; /* Adjust margin to avoid content being hidden under the sticky navbar */
    background: 
    linear-gradient(135deg, rgba(21, 20, 20, 0.8), rgba(50, 50, 50, 0.8)),
        url("http://127.0.0.1:8000/static/images/slate-texture.jpg");
    background-size: cover; /* Couvre l'ensemble de l'écran */
    background-attachment: fixed; /* Fixe la texture pour un effet de parallaxe */
    color: white; /* Couleur du texte */
    min-height: 100vh; /* S'assure que le corps couvre toute la hauteur de la vue */
    font-family: 'comfortaa', cursive !important;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

#pageTurnEffect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
    linear-gradient(135deg, rgba(21, 20, 20, 0.8), rgba(50, 50, 50, 0.8)),
        url("{% static 'images/slate-texture.jpg' %}");
    transform-origin: left; /* Makes it turn like a real page */
    transform: perspective(1200px) rotateY(90deg);
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
}



.show {
    opacity: 1;
    visibility: visible;
    transform: rotateY(0);
    transition: transform 1s ease, opacity 1s ease;
}